<table class="table" [style.width]="isFullWidth ? '100%' : 'auto'">
  <thead>
    <th *ngFor= "let head of header">{{head}}</th>
    <th *ngIf="options.isEditable"> </th>
  </thead>
  <tbody *ngIf="!isHideFooter">
    <tr *ngFor="let row of rows | search: searchFilter | paginate: { itemsPerPage: perPageCount, currentPage: currentPage }" [style.background]="reverseBg ? '#eee' : '#FFFFFF'" (click)="clicked(row)">
      <td *ngFor="let data of row" [style.width]="data.width || '30px'">
        <span [ngClass]="data.class || ''">{{data[value]}}</span>
      </td>
      <td *ngIf="options.isEditable">
        <ion-icon name="create" color="primary" class="pointer"></ion-icon>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="isHideFooter">
    <tr *ngFor="let row of rows" [style.background]="reverseBg ? '#eee' : '#FFFFFF'">
      <td *ngFor="let data of row">
        <span [ngClass]="data.class || ''">{{data[value]}}</span>
      </td>
      <td *ngIf="options.isEditable">
        <ion-icon name="create" color="primary" class="pointer"></ion-icon>
      </td>
    </tr>
  </tbody>
</table>

<div text-center *ngIf="!isHideFooter">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="currentPage = $event"></pagination-controls>
</div>
