dashboard {
  .custom-searchbar .searchbar-input {
    box-shadow: none !important;
    border: none !important;
  }

  .desktop-header-pad {
    padding: 7px 5px 6px 15px !important; 
  }
  
  .desktop-body {
    width: 100%;
    height: 100%;
  }

  .doughnut-container {
    height: 385px;
    padding: 20px 10px 10px 40px;
  }

  .doughnut-header {
    display: flex;
    align-items: flex-end;
  }

  .doughnut-label {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
  }

  .doughnut-card-chart {
    padding-left: 1px;
  }

  .doughnut-icons {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  .doughnut-body {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    height: 300px;
  }

  .scroll-cover {
    width: 100%;
    height: 20px;
    bottom: 19px;
    position: relative;
    z-index: 1;
  }

  .doughnut-card {
    width: 224px;
    height: 266px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .doughnut-card-header {
    border-bottom: 1px solid #eee;
    font-weight: normal;
    font-size: 14px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    color: #232425 !important;
  }

  .doughnut-card-body {

  }

  .doughnut-card-body-header {
    padding: 10px;
    font-size: 14px;
    color: #cccccc;
    padding-left: 8px;
  }

  .doughnut-card-body-footer {
    padding: 10px;
    font-size: 14px;
    color: #333333;
    padding-left: 8px;
  }

  .bar-container {
    margin-top: 20px;
    padding: 16px;
  }

  .bar-card {
    width: 47%;
    height: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
  }

  .bar-card-header {
    padding: 20px;
    margin-bottom: 20px;
  }

  .bar-card-body {
    padding-left: 1px;
    padding-right: 10px;
  }

  .bar-card-header-label {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }

  .bar-card-header-right {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .bard-card-arrow {
    font-size: 20px;
  }

  .bard-card-details {
    font-weight: normal;
    font-size: 14px;
  }

  .bar-card-footer {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .info-div {
    padding: 5px;
    width: 100%;
  }

  .info-div-span {
    color: #999;
  }

  .card-info-border {
    border-right: 1px solid #dedede;
  }


  /*==FOR DOUGHNUT MOBILE==*/
  .doughnut-card-mob {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    margin-bottom: 10px;
  }

  .doughnut-card-header-mob {
    border-bottom: 1px solid #eee;
    font-weight: normal;
    color: #534f4f;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    color: #232425;
  }

  .doughnut-card-body-mob {

  }

  .doughnut-card-body-header-mob {
    padding: 10px;
    font-size: 14px;
    color: #cccccc;
    padding-left: 8px;
  }

  .doughnut-card-body-footer-mob {
    padding: 10px;
    font-size: 14px;
    color: #1d1d1d;
    padding-bottom: 20px;
    color: #333333;
    padding-left: 8px;
  }

  .popup-period {
    width: 80px;
    height: 54px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    position: absolute;
    left: 59%;
    background: #FFFFFF;
    z-index: 1;
    right: 110px;
    top: 45px;
  }

  .popup-period div {
    padding: 5px;
  }

  .popup-period-day {
    border-bottom: 1px solid #eee;
  }

  .desktop-header .searchbar-search-icon {
    display: none;
  }

  .search-icon {
    position: absolute;
    font-size: 24px;
    z-index: 1;
    left: 41px;
  }
}
