<div showWhen="core" class="desktop-scroll-container">
  <div class="box-container">
    <menu class="menu"></menu>
    <div class="content-container">
      <div class="desktop-header desktop-header-pad">
        <ion-searchbar class="custom-searchbar" placeholder="Search Stores" [(ngModel)]="query"></ion-searchbar>
        <profile></profile>
      </div>
      <div class="desktop-body mar-bot-83">
        <div class="doughnut-container">
          <div class="doughnut-header">
            <div class="doughnut-label">All Stores</div>
            <div class="doughnut-icons">
              <ion-icon name="ios-arrow-back" (click)="scrollBack()"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-arrow-forward" (click)="scrollForward()"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
          <div class="doughnut-body" id="doughnut-body">
            <div class="doughnut-card" *ngFor="let chart of dCharts | search: query" (click)="navigateToDetails(chart)">
              <div class="doughnut-card-header">{{chart.name}}</div>
              <div class="doughnut-card-body">
                <div class="doughnut-card-body-header">
                  <span class="pull-left">PREVIOUS</span>
                  <span class="pull-right">$ {{chart.previous}} M</span>
                </div>
                <div class="doughnut-card-chart">
                  <fusioncharts width="240" height="180" type="doughnut2d" dataFormat="json" [dataSource]="chart.chart"></fusioncharts>
                </div>
                <div class="doughnut-card-body-footer">
                  <span class="pull-left">TODAY</span>
                  <span class="pull-right">$ {{chart.today}} M</span>
                </div>
              </div>
            </div>
          </div>
          <div class="scroll-cover">
            &nbsp;
          </div>
        </div>
        <div class="bar-container">
          <div class="bar-card" *ngFor="let chart of barCharts | search: query">
            <div class="bar-card-header">
              <span class="bar-card-header-label pull-left">{{chart.name}}</span>
              <span class="bar-card-header-right pull-right">
                Week
                <ion-icon class="bar-card-arrow" name="ios-arrow-down"></ion-icon>&nbsp;&nbsp;&nbsp;
                <span class="bard-card-details">View Detail</span>
              </span>
            </div>
            <div class="bar-card-body">
              <fusioncharts width="100%" height="550" type="bar2d" dataFormat="json" [dataSource]="chart.chart"></fusioncharts>
            </div>
            <div class="bar-card-footer">
              <div class="info-div card-info-border" text-center>
                <span>Day Sales</span>
                <br/>
                <span> <div class="dot l-blue-bg"></div>&nbsp;$ 3.4 M</span>
              </div>
              <div class="info-div card-info-border" text-center>
                <span>Weekly Sales</span>
                <br/>
                <span> <div class="dot purple-bg"></div>&nbsp;$ 3.4 M</span>
              </div>
              <div class="info-div" text-center>
                <span>Yearly Sales</span>
                <br/>
                <span> <div class="dot red-bg"></div>&nbsp;$ 3.4 M</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ion-header showWhen="android,ios,windows" no-border class="all-header">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
      All Stores
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="isSearchShow = !isSearchShow; query = ''">
        <ion-icon *ngIf="!isSearchShow" name="search"></ion-icon>
        <ion-icon *ngIf="isSearchShow" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content showWhen="android,ios,windows">
  <ion-searchbar *ngIf="isSearchShow" placeholder="Search Stores" [(ngModel)]="query"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let chart of dCharts | search: query">
        <div class="doughnut-card-mob">
          <div class="doughnut-card-header-mob">{{chart.name}}</div>
          <div class="doughnut-card-body-mob">
            <div class="doughnut-card-body-header-mob">
              <span class="pull-left">PREVIOUS</span>
              <span class="pull-right">$ {{chart.previous}} M</span>
            </div>
            <div class="doughnut-card-chart-mob">
              <fusioncharts width="100%" height="200px" type="doughnut2d" dataFormat="json" [dataSource]="chart.chart"></fusioncharts>
            </div>
            <div class="doughnut-card-body-footer-mob">
              <span class="pull-left">TODAY</span>
              <span class="pull-right">$ {{chart.today}} M</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
