<div class="csv-container">
  <div class="csv-card" *ngFor="let csv of csvs" (click)="handleClick(csv)">
    <div class="csv-icon">
      <img src="assets/imgs/csv.svg" class="csv-img"/>
    </div>
    <div class="csv-content">
      <div class="csv-name">{{csv[name]}}</div>
      <div class="csv-time">last updated at: {{getDate(csv[time])}}</div>
    </div>
    <div class="csv-icon-right" (click)="downloadFile(csv)">
      <img src="assets/imgs/downloadIcon.svg" class="download-img"/>
    </div>
  </div>
</div>
