csv-cards {
  .csv-container {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
  }

  .csv-icon {
    color: #2bd7af;
    font-size: 52px;
    margin-right: 28px;
    padding-top: 13px;
    padding-left: 5px;
  }

  .csv-icon-right {
    color: #2bd7af;
    font-size: 30px;
    padding-left: 15px;
    border-left: 1px solid #eee;
    height: 100%;
    padding-top: 23px;
    cursor: pointer;
    padding-right: 15px;
  }

  .csv-card {
    display: flex;
    align-items: center;
    width: 320px;
    margin-bottom: 24px;
    margin-right: 20px;
  }

  .csv-content {
    margin-right: 28px;
    padding: 7px 0px 7px 0px;
  }

  .csv-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .csv-time {
    font-size: 12px;
    color: #999;
  }

  .csv-img {

  }

  .download-img {

  }

  @media screen and (max-width: 768px) {
    .csv-card {
      width: 100%;
      margin-right: 0;
    }
  }
}
