<div showWhen="core" class="desktop-scroll-container">
  <div class="box-container">
    <menu class="menu"></menu>
    <div class="content-container">
      <div class="desktop-header desktop-header-pad">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-select placeholder="Burliegh" [style.visibility]="'hidden'"></ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
        <profile></profile>
      </div>
      <div class="desktop-body mar-bot-83">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <div class="sales-card">
                <div class="sales-card-header">
                  Current {{period}} Dept Sales
                </div>
                <div class="sales-card-sub-header">
                  <div class="sales-period-header">
                    <div [ngClass]="{'active': period == 'Day'}" (click)="changePeriod('Day')">Day</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div [ngClass]="{'active': period == 'Week'}" (click)="changePeriod('Week')">Week</div>
                  </div>
                  <div class="legends-right">
                    <span class="light-blue"> 
                      <span class="dot light-blue-bg"></span>&nbsp;&nbsp;&nbsp; Sales&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="dark-yellow"> 
                      <span class="dot dark-yellow-bg"></span>&nbsp;&nbsp;&nbsp; GP%&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="dark-blue"> 
                      <span class="dot dark-blue-bg"></span>&nbsp;&nbsp;&nbsp; Cost&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                  </div>
                </div>
                <div class="sales-card-chart">
                  <fusioncharts width="100%" height="400" type="mscombidy2d" dataFormat="json" [dataSource]="combiChart"></fusioncharts>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="app-card">
                <div class="time-card-header">
                  Current Day
                </div>
                <div class="time-card-body">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-6 text-center>
                        <div class="time-card-div-border">
                          <div class="time-card-dollar">
                            <span class="dot l-blue-bg"></span>&nbsp; $ {{getTotal('dayTotal')}}
                          </div>
                          <div class="dark-grey">Total Sales</div>
                          <div class="progress-bar">
                            <div class="progress light-blue-bg"></div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col col-6 text-center>
                        <div>
                          <div class="time-card-dollar">
                            <span class="dot purple-bg"></span>&nbsp; $ {{getTotal('dayTotalCost')}}
                          </div>
                          <div class="dark-grey">Total Cost</div>
                          <div class="progress-bar">
                            <div class="progress dark-blue-bg"></div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div class="app-card">
                <div class="time-card-header">
                  Weekly Sales
                </div>
                <div class="time-card-body">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-6 text-center>
                        <div class="time-card-div-border">
                          <div class="time-card-dollar">
                            <span class="dot l-blue-bg"></span>&nbsp; $ {{getTotal('weekTotal')}}
                          </div>
                          <div class="dark-grey">Total Sales</div>
                          <div class="progress-bar">
                            <div class="progress light-blue-bg"></div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col col-6 text-center>
                        <div>
                          <div class="time-card-dollar">
                            <span class="dot purple-bg"></span>&nbsp; $ {{getTotal('weekTotalCost')}}
                          </div>
                          <div class="dark-grey">Total Cost</div>
                          <div class="progress-bar">
                            <div class="progress dark-blue-bg"></div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <div class="app-card">
                <div class="footer-card-header">
                  <div class="footer-card-header-text">
                    {{oneDriveService.selectedCity ? (oneDriveService.selectedCity | titlecase) : ''}}
                  </div>
                </div>
                <div class="footer-card-body">
                  <div class="footer-card-chart">
                    <fusioncharts width="60%" height="180" type="doughnut2D" dataFormat="json" [dataSource]="dChart"></fusioncharts>
                  </div>
                  <div class="footer-card-info">
                    <div class="footer-card-div-border footer-info-div" text-center>
                      <div class="footer-card-dollar">
                        <span class="dot red-bg"></span> <span>&nbsp;&nbsp;$ {{getSalesFigure('current')}} M</span>
                      </div>
                      <div class="dark-grey footer-card-sub-text">Year {{getYear('current')}}</div>
                    </div>
                    <div class="footer-card-div-border footer-info-div" text-center>
                      <div class="footer-card-dollar">
                        <span class="dot l-blue-bg"></span> <span>&nbsp;&nbsp;$ {{getSalesFigure('prev')}} M</span>
                      </div>
                      <div class="dark-grey footer-card-sub-text">Year {{getYear('prev')}}</div>
                    </div>
                    <div class="footer-info-div" text-center>
                      <div class="footer-card-dollar">
                        <span class="dot purple-bg"></span> <span>&nbsp;&nbsp;$ {{getSalesFigure('minTwo')}} M</span>
                      </div>
                      <div class="dark-grey footer-card-sub-text">Year {{getYear('minTwo')}}</div>
                    </div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col col-8>
              <div class="app-card">
                <div class="footer-card-header">
                  <div class="footer-card-header-text">
                    Total Sales
                  </div>
                </div>
                <div class="footer-card-body-table">
                  <table class="table">
                    <thead>
                      <th *ngFor="let head of header">{{head}}</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of rows">
                        <td *ngFor="let data of row">
                          <span>{{data.value}} &nbsp;<span *ngIf="data.percent" class="dark-grey">({{data.percent}}%)</span></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>
<ion-header showWhen="android,ios,windows" no-border class="all-header">
  <ion-navbar>
    <button class="menu-btn" ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content showWhen="android,ios,windows">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="sales-card">
          <div class="sales-card-header">
            Current {{period}} Dept Sales
          </div>
          <div class="sales-card-sub-header">
            <div class="sales-period-header">
              <div [ngClass]="{'active': period == 'Day'}" (click)="changePeriod('Day')">Day</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div [ngClass]="{'active': period == 'Week'}" (click)="changePeriod('Week')">Week</div>
            </div>
            <div class="legends-right">
              <span class="light-blue"> 
                      <span class="dot light-blue-bg"></span>&nbsp;&nbsp;&nbsp; Sales&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              <span class="dark-yellow"> 
                      <span class="dot dark-yellow-bg"></span>&nbsp;&nbsp;&nbsp; GP%&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              <span class="dark-blue"> 
                      <span class="dot dark-blue-bg"></span>&nbsp;&nbsp;&nbsp; Cost&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </div>
          </div>
          <div class="sales-card-chart">
            <fusioncharts width="100%" height="400" type="mscombidy2d" dataFormat="json" [dataSource]="combiChart"></fusioncharts>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="app-card">
          <div class="time-card-header">
            Current Day
          </div>
          <div class="time-card-body">
            <ion-grid>
              <ion-row>
                <ion-col col-6 text-center>
                  <div class="time-card-div-border">
                    <div class="time-card-dollar-m">
                      <span class="dot l-blue-bg"></span>&nbsp;&nbsp; $ {{getTotal('dayTotal')}}
                    </div>
                    <div class="dark-grey">Total Sales</div>
                    <div text-center>
                      <div class="progress-bar-m">
                        <div class="progress light-blue-bg"></div>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-6 text-center>
                  <div>
                    <div class="time-card-dollar-m">
                      <span class="dot purple-bg"></span>&nbsp;&nbsp; $ {{getTotal('dayTotalCost')}}
                    </div>
                    <div class="dark-grey">Total Cost</div>
                    <div text-center>
                      <div class="progress-bar-m">
                        <div class="progress dark-blue-bg"></div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
      <ion-col col-12>
        <div class="app-card">
          <div class="time-card-header">
            Weekly Sales
          </div>
          <div class="time-card-body">
            <ion-grid>
              <ion-row>
                <ion-col col-6 text-center>
                  <div class="time-card-div-border">
                    <div class="time-card-dollar-m">
                      <span class="dot l-blue-bg"></span>&nbsp;&nbsp; $ {{getTotal('weekTotal')}}
                    </div>
                    <div class="dark-grey">Total Sales</div>
                    <div text-center>
                      <div class="progress-bar-m">
                        <div class="progress light-blue-bg"></div>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-6 text-center>
                  <div>
                    <div class="time-card-dollar-m">
                      <span class="dot purple-bg"></span>&nbsp;&nbsp; $ {{getTotal('weekTotalCost')}}
                    </div>
                    <div class="dark-grey">Total Cost</div>
                    <div text-center>
                      <div class="progress-bar-m">
                        <div class="progress dark-blue-bg"></div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="app-card">
          <div class="footer-card-header">
            <div class="footer-card-header-text">
              {{oneDriveService.selectedCity ? (oneDriveService.selectedCity | titlecase) : ''}}
            </div>
          </div>
          <div class="footer-card-body">
            <div class="footer-card-chart">
              <fusioncharts width="60%" height="180" type="doughnut2D" dataFormat="json" [dataSource]="dChart"></fusioncharts>
            </div>
            <div class="footer-card-info">
              <div class="footer-card-div-border footer-info-div" text-center>
                <div class="footer-card-dollar">
                  <span class="dot l-blue-bg"></span>&nbsp;&nbsp; $ {{getSalesFigure('current')}} M
                </div>
                <div class="dark-grey footer-card-sub-text">Year {{getYear('current')}}</div>
              </div>
              <div class="footer-card-div-border footer-info-div" text-center>
                <div class="footer-card-dollar">
                  <span class="dot purple-bg"></span>&nbsp;&nbsp; $ {{getSalesFigure('prev')}} M
                </div>
                <div class="dark-grey footer-card-sub-text">Year {{getYear('prev')}}</div>
              </div>
              <div class="footer-info-div" text-center>
                <div class="footer-card-dollar">
                  <span class="dot red-bg"></span>&nbsp;&nbsp; $ {{getSalesFigure('minTwo')}} M
                </div>
                <div class="dark-grey footer-card-sub-text">Year {{getYear('minTwo')}}</div>
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-12>
        <div class="app-card">
          <div class="footer-card-header header-bottom">
            <div class="footer-card-header-text">
              Total Sales
            </div>
          </div>
          <div class="footer-card-sub-header">
            <ion-select [(ngModel)]="selectedRowVal" (ngModelChange)="rowChanged($event)" class="ion-select-custom">
              <ion-option *ngFor="let row of rows" [value]="row[0].value">{{row[0].value}}</ion-option>
            </ion-select>
          </div>
          <div *ngIf="selectedRow">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <div class="footer-time-card app-card">
                    <div class="dark-grey">Day</div>
                    <div text-center class="footer-time-card-value">
                      <span class="dot l-blue-bg"></span>
                      <span><b>$ {{selectedRow[1].value}}</b></span>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div class="footer-time-card app-card">
                    <div class="dark-grey">Week</div>
                    <div text-center class="footer-time-card-value">
                      <span class="dot purple-bg"></span>
                      <span><b>$ {{selectedRow[2].value}}</b></span>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
