.dark-theme {
  .desktop-header {
    background: #000000;
  }

  .desktop-header .searchbar-search-icon {
    color: #FFFFFF;
  }

  .menu {
    background: #000000;
  }

  .content-container {
    background: #000000;
  }

  .ngx-pagination {
  	background: #000000;
  }

  .scroll-cover {
    background-color: #000000;
  }

  .custom-searchbar .searchbar-input {
    background: #000000;
  }

  .doughnut-label {
    color: #000000;
  }

  .doughnut-container {
    background: #000000;
  }

  .doughnut-icons {
    color: #FFFFFF;
  }

  .doughnut-card {
    background: #000000;
  }

  .doughnut-card-header {
    color: #FFFFFF;
  }

  .doughnut-card-body-header {
    color: #FFFFFF;
  }

  .doughnut-card-body-footer {
    color: #FFFFFF;
  }

  .bar-container {
    background: #000000;
  }

  .bar-card {
    background: #000000;
  }

  .bar-card-header-label {
    color: #FFFFFF;
  }

  .bar-card-header-right {
    color: #FFFFFF;
  }

  .bard-card-details {
    color: #FFFFFF;
  }

  .bar-card-footer {
    background: #000;
    color: #eee;
  }

  .desktop-body {
    background: #000000;
  }

  .sales-card-header {
    color: #FFFFFF;
  }

  .sales-card {
    background: #000000;
  }

  .app-card {
    background: #000000 !important;
    color: #FFFFFF !important;
  }

  .autoorder-card {
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 6px 0px #e0e0e0;
  }

  .table tr {
    background: #000000;
    color: #FFFFFF;
  }

  .csv-card {
    background: #000000;
    color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px #E0E0E0;
  }

  .folder-card {
    background: #000000;
    color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px #E0E0E0;
  }

  .header {
    background: #000000;
  }

  .content .item {
    background: #000000;
    color: #FFFFFF;
  }

  .menu-item {
    background: #000000;
    color: #FFFFFF;
  }
}
