// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu {
  border-right: 1px solid #cccccc96;
  min-width: 230px;
  height: 100%;
  margin-top: 0px;
  padding-left: 0;
}

.box-container {
  display: flex;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(158, 158, 158, 0.1);
}

.root-menu-item {
  color: #0d0d0d;
  opacity: 0.65;
  border-left: 5px solid #FFFFFF !important;
}

.root-menu-icon {
  margin-right: 15px;
  padding-left: 15px;
  height: 18px;
}

.logout-menu-icon {
  margin-right: 8px;
  padding-left: 15px;
  height: 18px;
}

.root-menu-item-name {
  font-weight: 500;
}

.root-active {
  color: #2bd7ce;
  border-left: 5px solid #2bd7ce !important;
}

.root-active .root-menu-item-name {
  font-weight: 400;
}

.profile-box {
  width: 100%;
  background-color: #5fdfaa;
  height: 135px;
  margin-bottom: 69px;
}

.profile-pic {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 3px solid #bab9b9;
  position: absolute;
  top: 104px;
  left: 12px;
  z-index: 10;
}

.email-box {
  color: #FFFFFF;
  font-weight: 500;
  position: absolute;
  top: 104px;
  left: 72px;
}

.all-header .toolbar-background {
  background-color: #FFFFFF;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: #d25151;
}

.text-light-red {
  color: #FF3333;
}

.text-light-green {
  color: #30D496;
}

.text-green {
  color: #7cd998;
}

.no-padding-left {
  padding-left: 0 !important;
}

.dark-grey {
  color: #999;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.l-blue-bg {
  background: #4ED8DA;
}

.purple-bg {
  background: #C04DD8;
}

.red-bg {
  background: #E06950;
}

.desktop-scroll-container {
  overflow-y: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  color: #000;
  background-color: #fff;
}

.app-card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  background: #FFFFFF;
}

.desktop-header {
  position: fixed;
  width: auto;
  z-index: 2;
  background: #FFFFFF;
  right: 0;
  left: 230px;
  border-bottom: 1px solid #e0e0e0e6;
  padding: 0px 5px 0px 15px;
  display: flex;
  align-items: center;
  height: 72px;
}

.mar-bot-83 {
  margin-top: 71px;
}

.ngx-pagination {
  max-width: 450px;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  padding: 10px;
  background: #FFFFFF;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2bd7ce;
  color: #FFFFFF;
  cursor: default;
  border-radius: 2px;
}

.pointer {
  cursor: pointer;
}

.action-sheet-group {
  overflow: hidden;
}

.custom-select {
  width: 100%;
  max-width: 100%;
  border: 1px solid #dedede;
  color: #999;
  padding-left: 10px;
  margin-bottom: 10px;
}

.light-blue {
  color: #50E3C2;
}

.dark-yellow {
  color: #F5A623;
}

.dark-blue {
  color: #C04DD8;
}

.light-blue-bg {
  background: #50E3C2;
}

.dark-yellow-bg {
  background: #F5A623;
}

.dark-blue-bg {
  background: #C04DD8;
}

.progress-bar {
  background: #EEEEEE;
  width: 135px;
  margin-left: 40px;
  margin-top: 14px;
}

.progress-bar-m {
  background: #EEEEEE;
  width: 135px;
  margin: 0 auto;
  margin-top: 14px;
}

.progress {
  height: 3px;
  width: 70%;
}
