folders {
  .folder-container {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
  }

  .folder-icon {
    color: #2bd7ce;
    font-size: 52px;
    margin-right: 28px;
    margin-left: 5px;
  }

  .folder-card {
    display: flex;
    align-items: center;
    width: 310px;
    padding: 7px 10px 7px 12px;
    margin-bottom: 24px;
    cursor: pointer;
    margin-right: 20px;
  }

  .folder-content {}

  .folder-right-icon {
    flex: 1 1 auto;
    text-align: right;
    color: #999;
    padding-right: 5px;
  }

  .folder-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .folder-time {
    font-size: 12px;
    color: #999;
  }

  .folder-img {

  }
  
  @media screen and (max-width: 768px) {
    .folder-card {
      width: 100%;
      margin-right: 0;
    }
  }
}
