blocker {
  .blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex; 
    z-index: 1000;
  }

  .blocker-m {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .blocker div {
    width: 50%; 
  }

  .blocker-m div {
    height: 50%; 
  }

  .blocker-m img {
    height: 100%;
    width: 100%;
  }

  .login-btn {
    top: 43%;
    background: #0A4DC3 !important;
    text-transform: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
  }

  .one-drive-logo {
  	width: 36px;
    height: 36px;
    margin-right: 10px;
  }
}
