<div showWhen="android,ios,windows" class="blocker-m" [style.display]="blockerService.isShown ? 'block': 'none'">
  <img class="f-logo-m" src="assets/imgs/FutureNetLogo2.svg"/>
  <span class="f-tag-m">Point Of Sales Solutions</span>
  <div text-center>
    <button ion-button class="login-btn" (click)="tryLogin()" icon-left>
      <img class="one-drive-logo" src="assets/imgs/oneDriveLogo.png" /> Sign In With OneDrive
    </button>
  </div>
</div>
<div showWhen="core" class="blocker" [style.display]="blockerService.isShown ? 'flex': 'none'">
  <div class="image-container">
    <img class="f-logo" src="assets/imgs/FutureNetLogo2.svg"/>
    <span class="f-tag">Point Of Sales Solutions</span>
  </div>
  <div text-center>
    <button ion-button class="login-btn" (click)="tryLogin()" icon-left>
      <img class="one-drive-logo" src="assets/imgs/oneDriveLogo.png" /> Sign In With OneDrive
    </button>
  </div>
</div>
