<div showWhen="core" class="desktop-scroll-container">
  <div class="box-container">
    <menu class="menu"></menu>
    <div class="content-container">
      <div class="desktop-header">
        <ion-label class="header-title">
          <h6>
            <span class="previous-header">Auto Order Statistics&nbsp;</span>
            &nbsp;<ion-icon name="ios-ios-arrow-forward"></ion-icon>&nbsp;
            Order No.: 121212 
          </h6></ion-label>
        <ion-searchbar placeholder="Search by Order No., Item No."></ion-searchbar>
        <div class="profile-name">Scott Munro</div>
        <img src="../../assets/imgs/profile.jpg" class="profile-logo" />
      </div>
      <div class="desktop-body">
        <app-table [header]="header" [rows]="rows"></app-table>
      </div>
    </div>
  </div>
</div>
<ion-header showWhen="android,ios,windows" no-border class="all-header">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
      Order No:
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content showWhen="android,ios,windows">
  <ion-card>
    <ion-card-content>
      <button ion-item class="no-padding-left">
        Description
        <br/>
        <br/>
        <span class="order-card-subtext">
          ITEM NO: 17
        </span>
        <ion-icon [name]="isShown ? 'arrow-up' : 'arrow-down'" item-end (click)="isShown = !isShown"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isShown">
    <ion-card-content class="no-padding-det">
      <ion-grid class="no-padding-det">
        <ion-row>
          <ion-col class="order-details-col order-details-col-one">
            <span class="dark-grey">Order No:</span>
            <br/>
            <span>183316</span>
          </ion-col>
          <ion-col class="order-details-col">
            <span class="dark-grey">Date & Time:</span>
            <br/>
            <span>14th Jan, 2017 10:54 AM</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="order-details-col order-details-col-one">
            <span class="dark-grey">CTN ord:</span>
            <br/>
            <span>1</span>
          </ion-col>
          <ion-col class="order-details-col">
            <span class="dark-grey">Units Ord:</span>
            <br/>
            <span>0</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="order-details-col order-details-col-one">
            <span class="dark-grey">Core RNG?</span>
            <br/>
            <span class="text-red">N</span>
          </ion-col>
          <ion-col class="order-details-col">
            <span class="dark-grey">Slow?</span>
            <br/>
            <span class="text-red">N</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="order-details-col order-details-col-one">
            <span class="dark-grey">Variety?</span>
            <br/>
            <span class="text-green">Y</span>
          </ion-col>
          <ion-col class="order-details-col">
            <span class="dark-grey">Promo CTN Cost:</span>
            <br/>
            <span>16.25</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="order-details-col order-details-col-one">
            <span class="dark-grey">Promo Save $:</span>
            <br/>
            <span>3.35</span>
          </ion-col>
          <ion-col class="order-details-col">
            <span class="dark-grey">Promo Save %:</span>
            <br/>
            <span>17.93</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="order-details-col order-details-col-one">
            <span class="dark-grey">CTN Cost:</span>
            <br/>
            <span>19.80</span>
          </ion-col>
          <ion-col class="order-details-col">
            <span class="dark-grey">Ctn Qty:</span>
            <br/>
            <span>12</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
