order-stats-details {

  .header-title {
  	overflow: visible;
  	margin-right: 70px;
  }

  .previous-header {
    color: #858585;
  }

  .desktop-body {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .order-card-subtext {
    color: #999;
    font-size: 12px;
  }

  .no-padding-det {
    padding: 0 !important;
  }

  .order-details-col-one {
    border-right: 1px solid #ddd9d9;
  }

  .order-details-col {
    padding: 13px;
  }

  .order-page-header {
    padding: 5.5px 5px 4.5px 15px;
  }

  .order-details-back {
    margin-right: 12px;
    min-width: 33px !important;
  }
}
