<div showWhen="core" class="desktop-scroll-container">
  <div class="box-container">
    <menu class="menu"></menu>
    <div class="content-container">
      <div class="desktop-header order-page-header">
        <button class="order-details-back" color="dark" clear ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back" class="pointer" [style.fontSize]="'22px'"></ion-icon>
        </button>&nbsp;
        <ion-label class="header-title">
          <h6 [style.marginTop]="'1rem'">
            <span class="previous-header">Auto Order Statistics&nbsp;</span>
            &nbsp;<ion-icon name="ios-arrow-forward" class="dark-grey"></ion-icon>&nbsp;
            Order No: {{parent?.orderNo}}
          </h6></ion-label>
        <ion-searchbar placeholder="Search by Item No." [(ngModel)]="query"></ion-searchbar>
        <profile></profile>
      </div>
      <div class="desktop-body mar-bot-83">
        <app-table [searchFilter]="query" isFullWidth="true" [header]="header" [rows]="rows" value="value"></app-table>
      </div>
    </div>
  </div>
</div>
<ion-header showWhen="android,ios,windows" no-border class="all-header">
  <ion-navbar>
    <button class="menu-btn" ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
      Order No: {{parent?.orderNo}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="isSearchShow = !isSearchShow; query = ''">
        <ion-icon *ngIf="!isSearchShow" name="search"></ion-icon>
        <ion-icon *ngIf="isSearchShow" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content showWhen="android,ios,windows">
  <ion-searchbar *ngIf="isSearchShow" placeholder="Search Stores" [(ngModel)]="query"></ion-searchbar>
  <div *ngFor="let row of scrollItems | search: query">
    <ion-card>
      <ion-card-content>
        <button ion-item class="no-padding-left">
          {{row[5].value}}
          <br/>
          <br/>
          <span class="order-card-subtext">
          ITEM NO: {{row[4].value}}
        </span>
          <ion-icon [name]="row[0].open ? 'ios-arrow-up' : 'ios-arrow-down'" item-end (click)="row[0].open = !row[0].open"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="row[0].open">
      <ion-card-content class="no-padding-det">
        <ion-grid class="no-padding-det">
          <ion-row>
            <ion-col class="order-details-col order-details-col-one">
              <span class="dark-grey">Order No:</span>
              <br/>
              <span>{{parent?.orderNo}}</span>
            </ion-col>
            <ion-col class="order-details-col">
              <span class="dark-grey">Date & Time:</span>
              <br/>
              <span>{{parent.createdDate}} {{parent.createdTime}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="order-details-col order-details-col-one">
              <span class="dark-grey">CTN ord:</span>
              <br/>
              <span>{{row[6].value}}</span>
            </ion-col>
            <ion-col class="order-details-col">
              <span class="dark-grey">Units Ord:</span>
              <br/>
              <span>{{row[7].value}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="order-details-col order-details-col-one">
              <span class="dark-grey">Core RNG?</span>
              <br/>
              <span class="text-red">{{row[9].value}}</span>
            </ion-col>
            <ion-col class="order-details-col">
              <span class="dark-grey">Slow?</span>
              <br/>
              <span class="text-red">{{row[10].value}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="order-details-col order-details-col-one">
              <span class="dark-grey">Variety?</span>
              <br/>
              <span class="text-green">{{row[11].value}}</span>
            </ion-col>
            <ion-col class="order-details-col">
              <span class="dark-grey">Promo CTN Cost:</span>
              <br/>
              <span>{{row[0].promoCtnCost}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="order-details-col order-details-col-one">
              <span class="dark-grey">Promo Save $:</span>
              <br/>
              <span>{{row[0].promoSave}}</span>
            </ion-col>
            <ion-col class="order-details-col">
              <span class="dark-grey">Promo Save %:</span>
              <br/>
              <span>{{row[0].promoSavePercent}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="order-details-col order-details-col-one">
              <span class="dark-grey">CTN Cost:</span>
              <br/>
              <span>{{row[0].ctnCost}}</span>
            </ion-col>
            <ion-col class="order-details-col">
              <span class="dark-grey">Ctn Qty:</span>
              <br/>
              <span>{{row[0].ctnQty}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="addMore($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
