<div showWhen="core" class="desktop-scroll-container">
  <div class="box-container">
    <menu class="menu"></menu>
    <div class="content-container">
      <div class="desktop-header">
        <ion-label class="header-title">
          <h6>Store Items</h6></ion-label>
        <ion-searchbar placeholder="Search keyword OR by APN number..." [(ngModel)]="query"></ion-searchbar>
        <profile></profile>
      </div>
      <div class="desktop-body mar-bot-83">
        <app-table [searchFilter]="query" isFullWidth="true" [header]="header" [rows]="rows" [options]="options" value="value"></app-table>
      </div>
    </div>
  </div>
</div>
<ion-header showWhen="android,ios,windows" no-border class="all-header">
  <ion-navbar>
    <button class="menu-btn" ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
      Store Items
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="isSearchShow = !isSearchShow; query = ''">
        <ion-icon *ngIf="!isSearchShow" name="search"></ion-icon>
        <ion-icon *ngIf="isSearchShow" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content showWhen="android,ios,windows">
  <ion-searchbar *ngIf="isSearchShow" placeholder="Search Stores" [(ngModel)]="query"></ion-searchbar>
  <div *ngFor="let row of scrollItems | search: query">
    <ion-card>
      <ion-card-content>
        <button ion-item class="no-padding-left">
          {{row[2].value}}
          <br/>
          <br/>
          <span class="store-card-subtext">
          ITEM ID: {{row[1].value}}
        </span>
          <ion-icon [name]="rows[0].open ? 'ios-arrow-up' : 'ios-arrow-down'" item-end (click)="row[0].open = !row[0].open"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="row[0].open">
      <ion-card-content class="no-padding-det">
        <ion-grid class="no-padding-det">
          <ion-row>
            <ion-col class="store-details-col store-col-one">
              <span class="dark-grey">Curr Sell:</span>
              <br/>
              <span>{{row[3].value}}</span>
            </ion-col>
            <ion-col class="store-details-col">
              <span class="dark-grey">Curr Cost:</span>
              <br/>
              <span>{{row[4].value}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="store-details-col store-col-one">
              <span class="dark-grey">Dept Id:</span>
              <br/>
              <span>{{row[5].value}}</span>
            </ion-col>
            <ion-col class="store-details-col">
              <span class="dark-grey">Subdept Id:</span>
              <br/>
              <span>{{row[6].value}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="store-details-col store-col-one">
              <span class="dark-grey">Group Id:</span>
              <br/>
              <span [ngClass]="row[7].class || ''">{{row[7].value}}</span>
            </ion-col>
            <ion-col class="store-details-col">
              <span>Replicate:</span>
              <br/>
              <span [ngClass]="row[8].class || ''">{{row[8].value}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="addMore($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
