<div showWhen="core" class="desktop-scroll-container">
  <div class="box-container">
    <menu class="menu"></menu>
    <div class="content-container">
      <div class="desktop-header">
        <button color="dark" clear ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back" class="pointer" [style.fontSize]="'22px'"></ion-icon>
        </button>&nbsp;
        <ion-label>
          <h6 [style.marginTop]="'1rem'">
            <span class="previous-header">One Drive Data&nbsp;</span> 
            &nbsp;<ion-icon name="ios-arrow-forward" class="dark-grey"></ion-icon>&nbsp;
            <span class="previous-header">{{superParent?.name}}&nbsp;</span>
            &nbsp;<ion-icon name="ios-arrow-forward" class="dark-grey"></ion-icon>&nbsp;
            {{parent?.name}}
          </h6>
        </ion-label>
        <profile></profile>
      </div>
      <div class="desktop-body mar-bot-83">
        <csv-cards [csvs]="csvs" name="name" time="lastModifiedDateTime" (onClick)="handleClick($event)"></csv-cards>
      </div>
    </div>
  </div>
</div>
<ion-header showWhen="android,ios,windows" class="all-header" no-border>
  <ion-navbar>
    <button class="menu-btn" ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-center>
      {{parent?.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content showWhen="android,ios,windows">
  <csv-cards [csvs]="csvs" name="name" time="lastModifiedDateTime" (onClick)="handleClick($event)"></csv-cards>
</ion-content>
